<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yangjw.zbardemo">

    <!-- 使用相机权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".zar.CaptureActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
